@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-calc {
  width: calc(144px * 38);
  animation: marquee 56s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-144px * 19)); }
}
