@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0D0D0D;
  width: 100%;
  font-family:"Poppins", sans-serif;
  position: relative;
}

.image {
  width: 9rem !important;
}

.slick-prev{
  left: 0 !important;
  z-index: 1000;
}

.slick-next {
  right: 0 !important;
  z-index: 1000;
}

.active {
  text-align:center;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, #FF7C1F, #F6C90E);
    border-image-slice: 1;
}

#logo {
  border-bottom: none!important;
  cursor: pointer;
}

#header > .active {
  border-bottom: none!important;
}

.h2-image::before {
  content: "";
  width: 10px;
  height: 10px;
  background: url("../../assets/bg-text.png"); 
}

.main {
  position: relative;
}